body.body--light {
  --q-primary: #FFFFFF; 
  --q-secondary: #E4E4E4;

  --q-tprimary: #000;
  --q-tsecondary: #666666;

  --q-dark: #000;
  --q-info: #666666;

  --q-positive: #21ba45;
  --q-negative: #c10015;

  --q-warning: #f2c037;
}

body.body--dark {
  --q-primary: #FFFFFF;
  --q-secondary: #E4E4E4;

  --q-dark: #000;
  --q-info: #666666;

  --q-positive: #21ba45;
  --q-negative: #c10015;
  --q-warning: #f2c037;
}
